<table class="content-score">
  <tr>
    <td class="content-score-icon">
      <i class="fa fa-check"></i><span [innerHTML]="correctAnswers"></span>
    </td>
    <td class="content-score-icon">
      <i class="fa fa-close"></i><span [innerHTML]="incorrectAnswers"></span>
    </td>
    <td class="content-score-icon">
      <i class="fa fa-user-times"></i><span [innerHTML]="missedAnswers"></span>
    </td>
    <td class="content-score-icon">
      <i class="fa fa-glass"></i><span [innerHTML]="drinks"></span>
    </td>
  </tr>
</table>
