.header-logo {
  width: 26vh;
  height: 100%;
}

.header .text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.header-container {
  display: table;
  height: 100%;
  width: 91vw;
  margin: auto;
}

.header-container .switch {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 5vh;
  color: #065d7b;
}

.logo {
  content: url(../../../assets/Logo.svg);
  height: 100%;
  width: 100%;
}
