form {
	position: relative;
	text-align: center;
}

input {
  font-family: Raleway;
  border: none;
  background: #FFF;
  height: 12vh;
	padding: 25px;
  width: 100%;
	margin-bottom: 2vh;
  -moz-border-radius: 3vh;
  -webkit-border-radius: 3vh;
  border-radius: 3vh;
  font-size: 5vh;
  color: #065d7b;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-error {
	background: #e9b7b7;
	border: 2px solid #ff7c7c;
}

.input-uppercase {
	text-transform: uppercase;
}

.content-text {
  text-align: center;
  padding: 10vh 0px;
  color: #065d7b;
  font-size: 18vw;
  font-weight: 700;
}

::-webkit-input-placeholder {
   text-align: center;
	 color: #a8a8a8;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
	 color: #a8a8a8;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
	 color: #a8a8a8;
}

:-ms-input-placeholder {
   text-align: center;
}

.submit {
  font-family: Raleway;
  width: 100%;
  height: 12vh;
  border: none;
  font-size: 5vh;
  margin-top: 2vh;
  border-radius: 3vh;
  background-color: #065d7b;
  color: #f5f8fe;
  border-bottom: 0.5vh solid #04495e;
}
