.content-start-game {
  width: 100%;
  height: 85%;
  display: table;
}

.content-start-game-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #065d7b;
}

.logo-medium {
  content: url(../../assets/logo-medium.png);
  height: auto;
  width: 74vw;
  margin-bottom: 24vh;
}
